body{
     margin: 10px 200px 10px 200px;
}
.header-section{
   align-items: center;
    text-align: center;
   
}

.image-sami{
    width: 300;
    height: 150px;
    padding: 5px;
}
.info-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;


}
.info-container a{
    text-align: center;
    text-decoration: none;
    color: black;
}