body{
     margin: 10px 250px 10px 250px;
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
      font-style: normal;
}
.header-section {
   align-items: center;
    text-align: center;
    row-gap: 40px;
   
}
.header-section h1{
    font-size: 38px;
    font-weight:700;
}
.header-section h2{
    font-size: 18px;
    font-weight: 400;
    font-size: large;
}

.image-sami{
   width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #333;
}
.info-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;


}
.info-container a{
    text-align: center;
    text-decoration: none;
    color: black;
    
}
.info-container a:hover {
    color: #4f46e5;
}

.education-table{
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: ;
}
.project a{
text-decoration: none;
}
.footer-container {
    justify-content: center;
    text-align: center;
    font-weight: 400;
    color: #585454;
  }