body{
     margin: 10px 200px 10px 200px;
}
.header-section {
   /*align-items: center;*/
    text-align: center;
   
}
.header-section img{
justify-items: flex-start;
}


.image-sami{
   width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #333;
}
.info-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;


}
.info-container a{
    text-align: center;
    text-decoration: none;
    color: black;
}
.education-table{
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: ;
}
.project a{
text-decoration: none;
}